li button {
    width: fit-content;
    padding: 2px 16px;
    background-color: mediumaquamarine;
    border-radius: 16px;
}

div {
    margin: 2% auto;
    width: 25rem;
    display: flex;
    justify-content: space-around;
}