/* body {
    background: linear-gradient(to top right, darkseagreen, lightyellow);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    color: darkviolet;
}

h2 {
    text-decoration: underline;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 2%;
}

button {
    border-radius: 8px;
    width: 64px;
    height: 24px;
} */