li button {
    width: fit-content;
    padding: 1px 8px;
    background-color: crimson;
    border-radius: 4px;
    color: white;
    font-size: small;
}

div {
    margin: 2% auto;
    width: 25rem;
    display: flex;
    justify-content: space-around;
}

.editButton {
    background-color: green;
}